@import "@/styles/mixins.scss";

.about-w {
    margin-top: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;

    &::before {
        content: "";
        position: relative;
        min-height: 100px;
        width: 100%;
        background-color: var(--primary);
    }

    .resume {
        display: flex;
        flex-grow: 1;
        height: 100vh;
    }

    @include sm-down {
        &::before {
            content: "";
            position: relative;
            min-height: 0;
            width: 0;
            background-color: transparent;
        }
    }
}