@import "@/styles/mixins.scss";

/*
    w - wrapper
    s - section
    c - container
*/

// Start of Home Page
.home-w {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171718;

    // Start of Top Section
    .top-section {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100vh;
        z-index: 2;

        .left-section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 500px;

            .heading-w {
                display: flex;
                align-items: center;
                gap: 8px;

                .heading-text {
                    color: white;
                    font-size: 18px;
                }

                .Typewriter__wrapper,
                .Typewriter__cursor {
                    color: white;
                    font-weight: bolder;
                    font-size: 24px;
                }
            }

            .Typewriter__wrapper,
            .Typewriter__cursor {
                color: white;
                font-weight: bolder;
                font-size: 48px;

                @include sm-down {
                    font-size: 36px;
                }
            }

            .stats-w {
                display: flex;
                justify-content: space-between;

                #hire-me-btn {
                    cursor: pointer;
                    color: white;
                    appearance: none;
                    border: none;
                    padding: 1em 2em;
                    background-color: transparent;
                    border: 2px solid var(--octonary);
                    transition: .15s ease-in-out;

                    &:hover {
                        background-color: var(--octonary);
                    }
                }

                .info-wrapper {
                    h3 {
                        color: white;
                        display: flex;
                    }

                    p {
                        color: white;
                        font-size: 16px;
                    }
                }
            }

            .socials-btn-w {
                color: white;
                display: flex;
                justify-content: space-between;
                font-size: 36px;

                .socials-btn {
                    cursor: pointer;
                    color: white;
                    transition: all .15s ease-in-out;

                    &:hover {
                        color: var(--octonary);
                    }
                }
            }

            @include sm-down {
                width: 350px;
                flex-direction: column;
            }
        }

        .right-section {
            .section-img {
                width: 500px;
                height: 500px;
                border-radius: 50%;
                box-shadow: 0 2px 8px var(--octonary);
                animation: float 3s ease-in-out infinite;

                @include md-down {
                    width: 350px;
                    height: 350px;
                }

                @include sm-down {
                    height: 325px;
                    width: 325px;
                    box-shadow: none;
                    border-radius: unset;
                    margin-top: 50px;
                }

                @keyframes float {
                    0% {
                        transform: translate(0, 0);
                    }

                    50% {
                        transform: translate(0, 10px);
                    }

                    100% {
                        transform: translate(0, -0);
                    }
                }
            }
        }

        .services-section {
            width: 80%;
            height: 200px;
            background-color: var(--primary);
            transform: translateY(50%);
            position: absolute;
            bottom: 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            color: white;
            z-index: 4;

            h2 {
                writing-mode: vertical-lr;
                text-orientation: upright;
                text-transform: uppercase;
                font-size: 16px;
                border-left: 1px solid white;

                @include sm-down {
                    writing-mode: unset;
                    text-orientation: unset;
                    border-left: none;
                }
            }

            .service-card {
                display: flex;
                flex-direction: column;
                height: 80px;

                aside {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .service-logo {
                        font-size: 36px;
                    }

                    .service-title {
                        font-weight: bolder;
                    }
                }
            }

            @include md-down {
                height: auto;
                font-size: 14px;
                width: 90%;
                padding: 1em;
            }

            @include sm-down {
                width: 350px;
                gap: 20px;
                align-items: center;
                flex-direction: column;
                justify-content: unset;
            }
        }

        // Top Section Media Queries
        @include sm-down {
            width: 350px;
            gap: 0px;
            margin-top: 20px;
            align-items: center;
            flex-direction: column;
            justify-content: unset;
            height: 100vh;
        }
    }

    // End of Top Section

    // Start of Middle Section
    .middle-section {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: var(--primary);
        width: 100%;
        height: 100vh;

        // Middle Section Media Queries
        @include md-down {
            height: fit-content;
            gap: 0px;
        }

        @include sm-down {
            height: fit-content;
            font-size: 14px;
            gap: 10px;
        }

        .about-section {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            gap: 8em;

            @include md-down {
                margin-top: 80px;
                gap: 0px;
            }

            @include sm-down {
                margin-top: 200px;
                margin-bottom: 20px;
                width: 350px;
            }

            .about-content {
                display: flex;

                @include md-down {
                    margin-bottom: 80px;
                }

                @include sm-down {
                    margin-bottom: 0px;
                }

                h2 {
                    font-size: 24px;
                    height: 30px;
                    writing-mode: vertical-lr;
                    text-orientation: upright;
                    text-transform: uppercase;
                }

                p {
                    border-left: solid 1px var(--primary);
                    padding: 1em;
                    width: 400px;
                    font-weight: bolder;
                    display: flex;
                    gap: 15px;
                    flex-direction: column;

                    @include sm-down {
                        width: 300px;
                    }

                    button {
                        position: relative;
                        cursor: pointer;
                        color: var(--primary);
                        font-weight: bold;
                        appearance: none;
                        border: none;
                        padding: 1em 2em;
                        background-color: transparent;
                        border: 1px solid var(--octonary);
                        transition: all .25s ease-in-out;
                        box-shadow: inset 0 0 0 0 var(--octonary);

                        &:hover {
                            box-shadow: inset 134px 0 0 0 var(--octonary);
                            color: white;
                        }
                    }
                }
            }

            .about-image-w {
                display: flex;
                flex-direction: column;
                width: 500px;

                section {
                    display: flex;
                    align-items: center;

                    .about-image {
                        width: 500px;
                        height: 500px;
                        animation: float 3s ease-in-out infinite;

                        @keyframes float {
                            0% {
                                transform: translate(0, 0);
                            }

                            50% {
                                transform: translate(0, 10px);
                            }

                            100% {
                                transform: translate(0, -0);
                            }
                        }

                        @include lg-down {
                            padding-top: 20px;
                            width: 450px;
                            height: 450px;
                            justify-content: center;
                            align-items: center;
                        }

                        @include md-down {
                            width: 400px;
                            height: 400px;
                            justify-content: center;
                            align-items: center;
                        }

                        @include sm-down {
                            width: 350px;
                            height: 350px;
                        }
                    }
                }

                .summary-section {

                    @include md-down {
                        margin-bottom: 20px;
                    }

                    fieldset {
                        margin-top: 1em;
                        border: none;

                        p {
                            padding: 1em;
                            font-size: 16px;
                            font-weight: bolder;
                            display: flex;
                            gap: 15px;
                            flex-direction: column;
                            border-right: solid 1px var(--primary);

                            button {
                                position: relative;
                                cursor: pointer;
                                color: var(--primary);
                                font-weight: bold;
                                appearance: none;
                                border: none;
                                padding: 1em 2em;
                                background-color: transparent;
                                border: 1px solid var(--octonary);
                                transition: all .25s ease-in-out;
                                box-shadow: inset 0 0 0 0 var(--octonary);

                                &:hover {
                                    box-shadow: inset 134px 0 0 0 var(--octonary);
                                    color: white;
                                }
                            }
                        }
                    }

                    h2 {
                        writing-mode: vertical-lr;
                        text-orientation: upright;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .skills-section {
            padding: 16px;
            width: 500px;
            height: 400px;
            background-color: var(--primary);
            transform: translateY(50%);
            margin-left: 80px;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            color: white;
            font-size: 14px;
            z-index: 2;

            @include md-down {
                padding: 0px;
                font-size: 12px;
                height: 300px;
                width: 400px;
                gap: 10px;
                justify-content: center;
            }

            @include sm-down {
                position: relative;
                height: fit-content;
                width: 350px;
                transform: translate(0%, 0%);
                margin-bottom: 20px;
                margin-left: 0px;
                font-size: 12px;
            }

            h2 {
                font-size: 36px;

                @include md-down {
                    padding: 0px;
                    margin: 0;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                width: 400px;
                gap: 10px;

                @include md-down {
                    width: 350px;
                }

                @include sm-down {
                    font-size: 12px;
                    width: 325px;
                    height: auto;
                    padding: 1em;
                }

                li {}
            }
        }
    }

    // End of Middle Section

    // Start of Bottom Section
    .bottom-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #494952;
        width: 100%;
        height: 100vh;
        gap: 10px;
        z-index: 0;

        @include lg-down {
            padding: 140px 0px;
            height: auto;
        }

        @include md-down {
            height: fit-content;
        }

        @include sm-down {
            height: fit-content;
        }

        .title {
            color: white;
            font-weight: 900;
            font-size: 36px;
            text-align: center;


            @include md-down {
                margin-top: 200px;
            }

            @include sm-down {
                margin-top: 20px;
            }
        }

        .cert-content {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            gap: 25px;

            @include md-down {
                margin-bottom: 20px;
            }
 
            .cert-card {
                cursor: pointer;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 10px #29292e;
                width: 300px;
                height: 400px;
                padding: 1em 2em;
                transition: all .15s ease-in-out;
                gap: 20px;

                @include sm-down {
                    width: 350px;
                    flex-direction: column;
                }

                &:hover {
                    transform: translateY(-10px);
                    background-color: var(--octonary);
                }

                h2 {}

                img {
                    height: 250px;
                    width: 250px;
                }

                p {
                    font-size: 12px;
                }
            }
        }

        h2 {
            color: white;
            font-weight: 900;
            font-size: 36px;
        }

        p {
            text-align: center;
            color: white;
            font-size: 16px;
            width: 75%;
        }
    }

    // End of Bottom Section
    .projects-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        width: 100vw;

        .title{
            color: white;
            font-weight: 900;
            font-size: 36px;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 0px;
        }

        p{
            text-align: center;
            color: white;
            font-size: 16px;
            width: 75%;
            
        }

        .carousel-wrapper{
            display: flex;
            align-items: center;
            width: 70%;
            height: fit-content;

            @include sm-down{
                width: 100%;
            }
        }
    }
}

// End of Home Page