@import "@/styles/mixins.scss";

.header-w {
  position: fixed;
  display: flex;
  background-color: var(--primary);
  height: 100px;
  width: 100%;
  opacity: 0.8;
  z-index: 3;
  transition: all 0.15s ease-in-out;

  &:hover {
    opacity: 1;
  }

  @include sm-down {
    z-index: 4;
    height: auto;
    position: relative;
  }

  .nav-w {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-w {
      display: flex;
      flex-flow: row wrap;
      overflow: hidden;
      height: auto;
      transition: max-height 0.35s ease-in-out;
      gap: 10px;

      a {
        padding: 0.5em 1em;
        color: white;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.15s ease-in-out;

        &:hover {
          font-weight: bolder;
          border-bottom: 1px solid white;
        }

        @include sm-down {
          width: 100%;
          text-align: center;
        }
      }

      @include sm-down {
        max-height: 0;
        gap: 0;
      }
    }

    .menu-w.open {
      max-height: 540px;
    }

    .mobile-menu-w {
      .menu-icon {
        cursor: pointer;
        position: absolute;
        color: white;
        background-color: var(--primary);
        width: 36px;
        height: 36px;
        right: 0;
        top: 0;
        padding: 0.5em;
        margin: 0.5em;
        transition: all 0.35s ease-in-out;
        display: none;

        @include sm-down {
          display: block;
        }
      }

      .menu-icon.rotate {
        transform: rotate(90deg);
      }
    }
  }
}