.footer-w {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2em;
    color: white;
    background-color: var(--dark);

    .section-one {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 100%;
        padding: 2em;

        .about-us-w {
            max-width: 200px;

            .heading {
                padding: 8px;
            }

            .info {
                font-size: 12px;
            }
        }

        .features-w {
            .features-list-w {
                .feature-item {
                    a {
                        color: white;
                        font-size: 12px;
                        transition: all 0.15s ease-in-out;
                    }

                    &:hover {
                        font-weight: bolder;
                        transform: scale(1.1);
                    }
                }
            }
        }


        .social-icon-w {
            .heading {
                padding: 8px;
            }

            .icon-w {
                display: flex;
                gap: 10px;

                a {
                    color: white;

                    .socials-btn {
                        padding: 8px;
                        font-size: 24px;
                        color: white;
                        cursor: pointer;
                        transition: all .15s ease-in-out;

                        &:hover {
                            font-weight: bolder;
                            transform: scale(1.1);
                            color: var(--lightBlue);
                        }
                    }
                }
            }
        }

        .info-w {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h3 {
                padding: 8px;
            }

            address {
                font-size: 12px;

                fieldset {
                    transition: all .15s ease-in-out;
                    padding: 10px;
                }
            }
        }

        .email-contact-w {
            .heading {
                padding: 8px;
            }

            form {
                display: flex;
                align-items: center;
                gap: 10px;

                input[type=text] {
                    padding: 1rem;
                }

                .send-btn {
                    cursor: pointer;
                    background-color: var(--dark);
                    border: 1px solid var(--lightBlue);
                    color: white;
                    appearance: none;
                    padding: 1rem;
                    transition: all 0.1s ease-in-out;

                    &:hover {
                        color: white;
                        background-color: var(--lightBlue);
                    }
                }
            }
        }
    }

    .section-two {
        display: flex;
        padding: 2em;

        .copyright-w {
            font-size: 14px;
            transition: all 0.1s ease-in-out;

            &:hover {
                font-size: 16px;
                font-weight: bolder;
            }
        }
    }
}