@import "@/styles/mixins.scss";

.skills-w {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

    &::before {
        content: "";
        position: relative;
        top: 0;
        height: 100px;
        width: 100%;
        background-color: var(--primary);
    }

    @include sm-down {
        &::before {
            content: "";
            position: relative;
            height: 0;
            width: 0;
        }
    }

    .skill-bars-w {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 600px;

        @include sm-down {
            margin-top: 80px;
            width: 350px;
        }

        .skill-title {
            font-family: 'Montserrat', sans-serif;
            font-weight: bolder;
            text-align: end;
        }

        .skill-bar {
            background: #b4acac;
            height: 15px;
            max-width: 100%;
            border-radius: 1rem;
        }

        .skill-progress {
            height: 15px;
            background: var(--quinary);
            position: relative;
            border-radius: 1rem;
            transition: all 2s ease-in-out;
            animation: progress 2s ease-in-out;
        }

        @keyframes progress {
            0% {
                max-width: 0;
            }

            100% {
                max-width: atrr(per);
            }
        }

        .skill-progress::before {
            font-family: 'Montserrat', sans-serif;
            content: attr(data-per);
            color: #fff;
            position: absolute;
            right: 0;
            font-size: .75rem;
        }
    }

    .skill-icon-w {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        background-color: #dfd2d2;
        width: 100%;
        padding: 20px;
        overflow: hidden;

        .skill-scroller {
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 40px;

            .skill-icon {
                font-size: 48px;
            }
        }

    }

    .skill-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 40px;

        .skill-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 20px;
            margin: 15px;
            box-shadow: 0 0 4px rgb(167, 167, 167);
        }

        button {
            cursor: pointer;
            background-color: var(--primary);
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px;
            font-size: 16px;
            font-weight: bolder;
            transition: all 0.15s ease-in-out;

            &:hover {
                background-color: var(--octonary);
                color: white;
            }
        }
    }
}