@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --primary: #1a1a1d;
  --secondary: #282828;
  --tertiary: #3a3a3c;
  --quaternary: #4a4a4d;
  --quinary: #0c0032;
  --senary: #190061;
  --septenary: #240090;
  --octonary: #3500d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: smooth;
  height: 100%;
}

#root {
  overflow-x: hidden;
  scroll-snap-type: y proximity;
}

a {
  color: var(--quinary);
  text-decoration: none;
}

.active {
  font-weight: bolder;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
