@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary: #1A1A1D;
    --secondary: #282828;
    --tertiary: #3A3A3C;
    --quaternary: #4A4A4D;
    --quinary: #0C0032;
    --senary: #190061;
    --septenary: #240090;
    --octonary: #3500D3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
}

html,
body,
#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
    scroll-snap-type: y proximity;

}

a {
    color: var(--quinary);
    text-decoration: none;
}

.active {
    font-weight: bolder;
}