.nav-mobile-title{
    display: none;
}

.menu-button{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 30px;
    margin: .70rem;
}

.bar{
    height: 4px;
    width: 100%;
    background-color: #fff;
}

@media screen and (max-width: 1600px) {
    .home-container, .portfolio-container, .blog-container{
        height: max-content;
    }

    /* .nav-links-container > ul li a{
        font-size: .7rem;
    }

    .nav-socials-container > ul li a img{
        width: .7rem;
    }

    .darkmode-btn-text{
        display: flex;
        font-size: .7rem;
    }

    .darkmode-btn-background{
        transform: scale(.7);
    }

    .section-container *:not(.summary-title, .service-title){
        font-size: .5rem;
    }

    .summary-title, .service-title{
        font-size: 1rem;
    }

    .summary-contact-button{
        padding: .5rem;
    }

    .stats-container > div:first-child{
        font-size: .5rem ;
        font-weight: bolder;
    } */

    .portfolio-title-properties{
        margin-bottom: 1rem;
    }

    .slider-parent-container{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .blog-iframe-container{
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 1200px) {
    .home-container, .portfolio-container, .blog-container{
        height: max-content;
    }
    
    .nav-container{
        margin-bottom: 2rem;
    }

    .nav-links-container > ul li a{
        font-size: .7rem;
    }

    .nav-socials-container > ul li a img{
        width: .7rem;
    }
    
    .nav-links-container ul li:last-child{
        flex-direction: row;
        align-items: center;
        width: max-content;
    }

    .darkmode-btn-text{
        display: inline-block;
        align-items: center;
        font-size: .7rem;
    }

    .darkmode-btn-background{
        display: block;
        transform: scale(.7);
    }

    .section-container *:not(.summary-title, .service-title){
        font-size: .5rem;
    }

    .summary-title, .service-title{
        font-size: 1rem;
    }

    .summary-contact-button{
        padding: .5rem;
    }

    .stats-container > div:first-child{
        font-size: .5rem ;
        font-weight: bolder;
    }

    .text-flex-property{
        transform: translateY(10%);
    }

    .slider-parent-container{
        display: flex;
        flex-direction: column;
        width: 600px;
        height: fit-content;
        border-radius: 1rem;
        overflow: hidden;
    }
    
    .slides-container{
        width: 600px;
        height: 60vh;
        display: flex;
    }
    
    .slides-container > input{
        display: none;
    }
    
    .slide-item img{
        width: 600px;
        height: 60vh;
        border-radius: 1rem;
    }
    
    .slide-item{
        width: 600px;
        height: 60vh;
        transition: 2s;
        border-radius: 1rem;
    }

    .blog-container{
        height: auto;
    }

    .blog-iframe-container{
        margin-bottom: 1rem;
    }

    .about-skills-card > p{
        font-size: .6rem;
    }

    .about-summary{
        font-size: .6rem;
    }
}

@media screen and (max-width: 1000px) {
    .home-container, .portfolio-container, .blog-container{
        height: max-content;
    }
    
    .nav-container{
        flex-flow: row wrap;
        justify-content: center;
        margin-bottom: 2rem;
    }
}


@media screen and (max-width: 800px) {
    /* Hide Sliced Text */
    .text-flex-property{
        display: none;
    }
    
    /* *, *::before, *::after{
        width: 100%;
    } */

    br{
        display: none;
    }

    body{
        overflow-x: hidden;
    }
    
    .home-container{
        height: auto;
    }

    .menu-button{
        cursor: pointer;
        display: flex;
    }

    .nav-container{
        display: none;
        flex-direction: column;
        background: #28282B;
        box-shadow: 0 0 2px black;
    }

    .nav-links-container{
        width: 100%;
    }
    
    .nav-links-container > ul{
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: 0 0 2px black;
    }
    
    .nav-links-container > ul li{
        padding: 1rem;
        text-align: center;
        width: 100%;
    }
    
    .nav-links-container > ul li a{
        color: #fff;
        font-size: .75rem;   
    }

    .nav-mobile-title{
        display: flex;
        font-size: 1.5rem;
        color: white;
        justify-content: center;
        align-items: center;
        height: 3rem;
        text-transform: uppercase;
        background-color: #28282B;
        padding: .75rem;
    }

    .nav-links-container ul li:last-child{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .darkmode-btn-text{
        width: fit-content;
        font-size: .75rem;
        color: #fff;
        justify-content: center;
    }

    .nav-socials-container{
        width: 100%;
    }

    .nav-socials-container > ul{
        width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .nav-socials-container > ul li{
        width: 100%;
        padding: .25rem;
    }

    .nav-socials-container > ul li a img{
        width: 1rem;
    }
    
    /* Selectors */ 
    .nav-links-container > ul li a:hover{
        text-decoration-color: black;
    }

    /* Toggle Menu */
    .nav-container.active{
        display: flex;
        margin-bottom: 1rem;
    }
    /* ============ */

    .section-container{
        flex: 3;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .service-container{
        margin-top: 1rem;
        justify-content: center; 
        align-items: center;
        width: 88%;
    }

    .service-title{
        justify-content: center;
        width: 100%;
    }

    .service-details-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* .service-details{

    }

    .service-details aside {
    
    }
    
    .service-detail-title{
        
    }

    .service-details aside img {

    }

    .service-detail-logos {

    }

    .service-portrait-container{

    }

    .service-image-properties{

    }

    .service-image-properties > img{

    } */

    .service-image-properties, .service-portrait-container, .service-portrait-container > img{
        filter: grayscale(1);
        width: 100%;
        order: -1;
    }

    .summary-container{
        width: 88%;
    }

    .summary-title{
        display: none;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    /* .summary-details-container{
        
    }

    .summary-details{

    } */

    .summary-stats{
        justify-content: space-between;
    }

    /* .summary-contact-button{

    }

    .stats-container{

    } */
     
    .portfolio-container{
        flex-flow: column wrap;
    }

    .portfolio-title{
        color: white;
        font-size: 12vw;
        font-weight: 1000;
        text-align: center;
        filter: drop-shadow(1px 0 5px #141414);
    }
    
    /* .portfolio-title-properties{
        
    }

    .portfolio-title{

    } */

    .portfolio-title-about{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        opacity: .6;
        margin-top: 1rem;
    }

    .portfolio-flip-text, .animation-text{
        color: #fff;
        font-size: 30px;
        font-weight: 1000;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }

    .portfolio-flip-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        height: 72px;
        width: fit-content;
        background-color: #282828;
        margin-left: 1rem;
        padding: 0 .5rem
    }

    .slider-parent-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: fit-content;
        border-radius: 1rem;
        overflow: hidden;
    }
    
    .slides-container{
        width: 90vw;
        height: 100%;
        display: flex;
    }
    
    .slides-container > input{
        display: none;
    }
    
    .slide-item{
        width: 90vw;
        height: 100%;
        transition: 2s;
        border-radius: 1rem;
    }

    .slide-item a img{
        width: 90vw;
        height: 25vh;
        border-radius: 1rem;
    }

    .slide-item > aside p{
        font-size: 0.75rem;
        font-style: italic;
    }

    .navigation-manual-container{
        display: flex;
        justify-content: center;
        margin-top: .5rem;
    }

    #radio1:checked ~ .first{
        margin-left: 0;
    }
    
    #radio2:checked ~ .first{
        margin-left: -90vw;
    }
    
    #radio3:checked ~ .first{
        margin-left: -180vw;
    }
    
    #radio4:checked ~ .first{
        margin-left: -270vw;
    }

    .blog-title-properties{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    
    .blog-title-text{
        margin: 0;
        padding: 0;
        color:white;
        filter: drop-shadow(0 0 6px black);
        font-size: 10vw;
        font-weight: 1000;
    }
    
    .blog-iframe-container{
        box-shadow: 0 0 8px 0 black;
    }

    .blog-iframe-container iframe{
        width: 100%;
        height: 390px;
    }

    .about-title-properties{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-title-text{
        color:white;
        filter: drop-shadow(0 0 6px black);
        font-size: 10vw;
        text-align: center;
        font-weight: 1000;
    }
    
    /* ====== About Image ====== */
    .about-image{
        width: 100%;
        filter: grayscale(1);
        border-radius: 2rem;
    }
    
    /* ====== About Section ====== */
    .about-section{
        display: flex;
        flex-direction: column;
    }
    
    .about-skills-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 3;
        gap: 1rem;
        margin-right: 1rem;
    }
    
    .about-skills-card{
        display: flex;
        flex-direction: column;
        border: solid 1px black;
        border-radius: 1rem;
        padding: .75rem;
        width: fit-content;
    }
    
    .about-skills-card > h2{
        width: 100%;
        text-align: center;
    }
    
    .about-skills-card > p{
        font-size: 0.85rem;
    }
    
    .about-cutoff-text{
        display: flex;
        overflow: hidden;
        max-height: 3rem;
    }
    
    .about-expand-btn{
        color: white;
        appearance: none;
        cursor: pointer;
        background-color: #282828;
        border-radius: 1rem;
        width: fit-content;
        padding: .65rem;
    }
    
    .about-expand-btn::before{
        content: "Expand";
    }
    
    .about-expand-btn:checked::before{
        content: "Collapse";
    }
    
    .about-cutoff-text:has(+ .about-expand-btn:checked){
        max-height: none;
    }
    
    .about-summary{
        display: flex;
        border: solid 1px black;
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
        width: fit-content;
    }   
}

@media screen and (max-width: 400px) {
    /* Hide Sliced Text */
    .text-flex-property{
        display: none;
    }
    
    /* *, *::before, *::after{
        width: 100%;
    } */

    br{
        display: none;
    }

    body{
        overflow-x: hidden;
    }
    
    .home-container{
        height: auto;
    }

    .menu-button{
        cursor: pointer;
        display: flex;
    }

    .nav-container{
        display: none;
        flex-direction: column;
        background: #28282B;
        box-shadow: 0 0 2px black;
    }

    .nav-links-container{
        width: 100%;
    }
    
    .nav-links-container > ul{
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: 0 0 2px black;
    }
    
    .nav-links-container > ul li{
        padding: 1rem;
        text-align: center;
        width: 100%;
    }
    
    .nav-links-container > ul li a{
        color: #fff;
        font-size: .75rem;   
    }

    .nav-links-container ul li:last-child{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .darkmode-btn-text{
        width: fit-content;
        font-size: .75rem;
        color: #fff;
        justify-content: center;
    }

    .nav-mobile-title{
        display: flex;
        font-size: 1.5rem;
        color: white;
        justify-content: center;
        align-items: center;
        height: 3rem;
        text-transform: uppercase;
        background-color: #28282B;
        padding: .75rem;
    }

    .nav-socials-container{
        width: 100%;
    }

    .nav-socials-container > ul{
        width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .nav-socials-container > ul li{
        width: 100%;
        padding: .25rem;
    }

    .nav-socials-container > ul li a img{
        width: 1rem;
    }
    
    /* Selectors */ 
    .nav-links-container > ul li a:hover{
        text-decoration-color: black;
    }

    /* Toggle Menu */
    .nav-container.active{
        display: flex;
        margin-bottom: 1rem;
    }
    /* ============ */

    .section-container{
        flex: 3;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .service-container{
        margin-top: 1rem;
        justify-content: center; 
        align-items: center;
        width: 88%;
    }

    .service-title{
        justify-content: center;
        width: 100%;
    }

    .service-details-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* .service-details{

    }

    .service-details aside {
    
    }
    
    .service-detail-title{
        
    }

    .service-details aside img {

    }

    .service-detail-logos {

    }

    .service-portrait-container{

    }

    .service-image-properties{

    }

    .service-image-properties > img{

    } */

    .service-image-properties, .service-portrait-container, .service-portrait-container > img{
        filter: grayscale(1);
        width: 100%;
        order: -1;
    }

    .summary-container{
        width: 88%;
    }

    .summary-title{
        display: none;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    /* .summary-details-container{
        
    }

    .summary-details{

    } */

    .summary-stats{
        justify-content: space-between;
    }

    /* .summary-contact-button{

    }

    .stats-container{

    } */
     
    .portfolio-container{
        flex-flow: column wrap;
    }

    .portfolio-title{
        color: white;
        font-size: 12vw;
        font-weight: 1000;
        text-align: center;
        filter: drop-shadow(1px 0 5px #141414);
    }
    
    /* .portfolio-title-properties{
        
    }

    .portfolio-title{

    } */

    .portfolio-title-about{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        opacity: .6;
        margin-top: 1rem;
    }

    .portfolio-flip-text, .animation-text{
        color: #fff;
        font-size: 30px;
        font-weight: 1000;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }

    .portfolio-flip-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        height: 72px;
        width: fit-content;
        background-color: #282828;
        margin-left: 1rem;
        padding: 0 .5rem
    }

    .slider-parent-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: fit-content;
        border-radius: 1rem;
        overflow: hidden;
    }
    
    .slides-container{
        width: 90vw;
        height: 100%;
        display: flex;
    }
    
    .slides-container > input{
        display: none;
    }
    
    .slide-item{
        width: 90vw;
        height: 100%;
        transition: 2s;
        border-radius: 1rem;
    }

    .slide-item a img{
        width: 90vw;
        height: 25vh;
        border-radius: 1rem;
    }

    .slide-item > aside p{
        font-size: 0.75rem;
        font-style: italic;
    }

    .navigation-manual-container{
        display: flex;
        justify-content: center;
        margin-top: .5rem;
    }

    #radio1:checked ~ .first{
        margin-left: 0;
    }
    
    #radio2:checked ~ .first{
        margin-left: -90vw;
    }
    
    #radio3:checked ~ .first{
        margin-left: -180vw;
    }
    
    #radio4:checked ~ .first{
        margin-left: -270vw;
    }

    .blog-title-properties{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    
    .blog-title-text{
        margin: 0;
        padding: 0;
        color:white;
        filter: drop-shadow(0 0 6px black);
        font-size: 10vw;
        font-weight: 1000;
    }
    
    .blog-iframe-container{
        box-shadow: 0 0 8px 0 black;
    }

    .blog-iframe-container iframe{
        width: auto;
    }

    .about-title-properties{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-title-text{
        color:white;
        filter: drop-shadow(0 0 6px black);
        font-size: 10vw;
        text-align: center;
        font-weight: 1000;
    }
    
    /* ====== About Image ====== */
    .about-image{
        width: 100%;
        filter: grayscale(1);
        border-radius: 2rem;
    }
    
    /* ====== About Section ====== */
    .about-section{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }
    
    .about-skills-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 3;
        gap: 1rem;
        margin-right: 1rem;
    }
    
    .about-skills-card{
        display: flex;
        flex-direction: column;
        border: solid 1px black;
        border-radius: 1rem;
        padding: .75rem;
        width: fit-content;
    }
    
    .about-skills-card > h2{
        width: 100%;
        text-align: center;
    }
    
    .about-skills-card > p{
        font-size: 0.85rem;
    }
    
    .about-cutoff-text{
        display: flex;
        overflow: hidden;
        max-height: 3rem;
    }
    
    .about-expand-btn{
        color: white;
        appearance: none;
        cursor: pointer;
        background-color: #282828;
        border-radius: 1rem;
        width: fit-content;
        padding: .65rem;
    }
    
    .about-expand-btn::before{
        content: "Expand";
    }
    
    .about-expand-btn:checked::before{
        content: "Collapse";
    }
    
    .about-cutoff-text:has(+ .about-expand-btn:checked){
        max-height: none;
    }
    
    .about-summary{
        font-size: 1rem;
        margin: 0;
        margin-top: 1rem;
        margin-right: 1rem;
    }   
}