/* ============= Fonts ============= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* ============== All Elements & Resets ============= */
*, *::before, *::after{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth; /* Property smoothes out page scrolling */
}

body{
    margin: 0; 
    padding: 0;
}

/* =============  Dark Mode Button ================== */
ul li:last-child{
    display: flex;
}

.darkmode-btn-text{
    display: flex;
    font-size: 1rem;
}

.darkmode-btn-background{
    display: flex;
    align-items: center;
    width: 2rem;
    background-color: #59595C;
    border-radius: 1rem;
    margin-left: .5rem;
}

.darkmode-btn{
    width: 1.2rem;
    height: 1.2rem;
    background-color: #282828;
    border-radius: 1rem;
    cursor: pointer;
    transition: .25s;
}

.darkmode-btn.dark{
    background-color: #CBCAC9;
    transform: translateX(1rem);
}

[data-dark].dark{
    color: #fff;
    background: #282828;
    box-shadow: 0 0 4px 0 #141414;
}

[data-dark-only].dark{
    color: #fff;
    background: #282828;
}


/* ============= Scroll Trigger Classes ============= */
.portfolio-title-properties{transform: translateX(-60vw);}
.blog-title-properties{transform: translateX(60vw);}
.about-title-properties{opacity: 0; }

/* ============== Web Page Containers ============= */
.home-container{
    display: flex;
    flex-direction: column;
    background:#CBCAC9;
    height: 100vh;
    overflow: hidden;
}

.portfolio-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap; 
    height: 100vh; 
    background: linear-gradient(0deg, #CBCAC9 0%, #929090 100%);
    overflow: hidden;
}

.blog-container{
    display: flex;
    flex-flow: row-reverse wrap;
    height: 100vh;
    background:linear-gradient(to top, #59595C, #A3A3A8);
    overflow: hidden;
}

.about-container{
    display: flex;
    flex-direction: column;
    height: 100vh auto;
    background:linear-gradient(to bottom, #F1EDF2, #A5A2A6);
    overflow: hidden;
}

/* ============== Home Page ============= */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container ul{
    list-style-type: none;
}

.nav-links-container > ul{
    padding: 0;
    margin-left: 7vw;
    display: flex;
}

.nav-links-container > ul li{
    padding: 1.75rem;
}

.nav-links-container > ul li a{
    color: #28282B;
    font-size: 1rem;
    text-decoration-color: transparent;
    transition: text-decoration 1s ease-in-out;
}

.nav-links-container > ul li a:hover{
    text-decoration-color: black;
}

.nav-socials-container > ul{
    margin-right: 7vw;
    display: flex;
}

.nav-socials-container > ul li{
    padding: 2rem;
}
.nav-socials-container > ul li a img{
    width: 1rem;
}

/* ====== Sliced Text ====== */
.text-flex-property{
    display: flex;
    min-width: 100%;
    height: 25vh;
    justify-content: flex-start;
    transform: translate(-2rem,5rem);
}

.text{
    position: absolute;
    z-index: -1;
    top: 30px;
    left: 5px;
}

.text-properties{
    position: relative;
    margin-right: 0;
    left: 50%;
    top: 25%;
    transform:translate(-50%,-50%);
    font-size: 120px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.text-shadow{
    position: absolute;
    width: 600px;
    height: 100px;
    background-color: #CBCAC9;
    transform: rotate(-6deg);
    top: 0;
    left: -100px;
    overflow: hidden;
    animation: slice 2s ease-in-out;
}

@keyframes slice {
    from{transform:translateX(-25%);}
}

.text-sliced{
    position: relative;
    width: 500px;
    height: 100px;
    background-color: #CBCAC9;
    filter: drop-shadow(0 80px 35px rgba(0,0,0,0.2));
    transform: rotate(-6deg);
} 

.text-shadow:before{
    content: "OLIVER";
    position: absolute;
    left: 90px;
    top: 25px;
    transform: rotate(6deg);
}

/* ====== Service Container ====== */
.section-container{
    height: 100%;
    display: flex;
    align-items: flex-end; 
    justify-content: space-around;
    margin-bottom: 1rem;
}

.service-title{
    display: flex;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    justify-content: flex-start;
    background-color: #282828;
    padding: 0.5rem;
    width: fit-content;
    margin-bottom: 1rem;
}

.service-container{
    display: flex;
    flex-direction: column;
}

.service-details aside{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.service-detail-logos{
    width: 2vw;
}

.service-image-properties{
    filter: grayscale(1);
    width: 35vw;
}

.summary-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.summary-title{
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    background-color: #28282B;
    margin-bottom: 1rem;
    width: fit-content;
    padding: 1rem;
}

.summary-details-container{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.summary-contact-button{
    cursor: pointer;
    color: #fff;
    background: #28282B;
    width: fit-content;
    padding: 1rem;
    transition: background-color 1s ease-in-out;
}

.summary-contact-button:hover{
    background-color: black;
}

.summary-stats{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.stats-container{
    display: flex;
    flex-direction: column;
}

.stats-container > div:first-child{
    font-size: 1.2rem ;
    font-weight: bolder;
}

.stats-container > div:last-child{
    opacity: 0.5;
}

/* ============== Portfolio Page ============= */
.portfolio-title-properties{
    display: flex;
    flex-direction: column;
}

.portfolio-title{
    color: white;
    font-size: 5vw;
    font-weight: 1000;
    text-align: center;
    filter: drop-shadow(1px 0 5px #141414);
    margin-bottom: 0;
}

.portfolio-title-about{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    opacity: .6;
}

 .portfolio-flip-text, .animation-text{
    color: #fff;
    font-size: 36px;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.animation-text{
    line-height: 72px;
}

.portfolio-flip-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    height: 72px;
    width: fit-content;
    background-color: #282828;
    margin-left: 1rem;
    padding: 0 .5rem
}

.animation-text:first-child{
    animation: flip 8s infinite;
}

@keyframes flip {
    0%{margin-top: 0;}
    12%{margin-top: -72px;}
    24%{margin-top: -144px}
    36%{margin-top: 0px;}
    48%{margin-top: 0;}
    60%{margin-top: -72px;}
    72%{margin-top: -144px}
    84%{margin-top: 0px;} 
}

/* ====== Slider ====== */
.slider-parent-container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: fit-content;
    border-radius: 1rem;
    overflow: hidden;
}

.slides-container{
    width: 50vw;
    height: 50vh;
    display: flex;
}

.slides-container > input{
    display: none;
}

.slide-item img{
    width: 50vw;
    height: 50vh;
    filter: grayscale(1);
    border-radius: 1rem;
}

.slide-item{
    width: 50vw;
    height: 50vh;
    transition: 2s;
    border-radius: 1rem;
}

.slide-item > aside p{
    font-size: 0.75rem;
    font-style: italic;
}

.navigation-manual-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
}

.manual-btn{
    border: 2px solid #282828;
    border-radius: 1rem;
    padding: .5rem;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
}

.manual-btn:hover{
    background-color: #282828;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -50vw;
}

#radio3:checked ~ .first{
    margin-left: -100vw;
}

#radio4:checked ~ .first{
    margin-left: -150vw;
}

.manual-btn.active{
    background-color: #282828;
}

/* ============== Blog Page ============= */
.blog-container{
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.blog-title-properties{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-title-text{
    margin: 0;
    padding: 0;
    color:white;
    filter: drop-shadow(0 0 6px black);
    font-size: 5vw;
    font-weight: 1000;
}

.blog-iframe-container{
    box-shadow: 0 0 8px 0 black;
}

.blog-title-about{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    opacity: .6;
}

 .blog-flip-text, .animation-text{
    color: #fff;
    font-size: 30px;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.animation-text{
    line-height: 72px;
}

.blog-flip-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    height: 72px;
    width: fit-content;
    background-color: #282828;
    margin-left: 1rem;
    padding: 0 .5rem
}

/* ============== About Page ============ */
/* ====== About Title ====== */
.about-title-properties{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title-text{
    color:white;
    filter: drop-shadow(0 0 6px black);
    font-size: 5vw;
    font-weight: 1000;
}

/* ====== About Image ====== */
.about-image{
    width: 35vw;
    filter: grayscale(1);
    border-radius: 2rem;
}

/* ====== About Section ====== */
.about-section{
    display: flex;
    flex-direction: column;
}

.about-skills-container{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-right: 1rem;
}

.about-skills-card{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 1rem;
    padding: .75rem;
    width: 25vw;
}

.about-skills-card > h2{
    width: 100%;
    text-align: center;
}

.about-skills-card > p{
    font-size: 0.85rem;
}

.about-cutoff-text{
    display: flex;
    overflow: hidden;
    max-height: 3rem;
}

.about-expand-btn{
    color: white;
    appearance: none;
    cursor: pointer;
    background-color: #282828;
    border-radius: 1rem;
    width: fit-content;
    padding: .65rem;
}

.about-expand-btn::before{
    content: "Expand";
}

.about-expand-btn:checked::before{
    content: "Collapse";
}

.about-cutoff-text:has(+ .about-expand-btn:checked){
    max-height: none;
}

.about-summary{
    border: solid 1px black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}
