/* All pages (below) */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
    background-color: white;
}

/* Global - Navegation Bar (below) */
a{
    text-decoration: none;
    color: white;
    padding: 20px 20px;
}

a:active{
    color:maroon;     
}

a:hover{   
    color:red;
}

.bheader{
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.bheader-text{
    color:#28282B;
    background-color: #28282B;
    width: 100vw;
}

/* index/Home Page (below) */
.index-img{
    position:relative;
    left: 0;
    top: 0;
    transform: translate(60%,30%);
    opacity: 1;
    animation-name: fade;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

.index-resume{
    background-color: #28282B;
    color: white;
    padding: 20px;
    width: 48%;
}

.index-none{
    padding: 0px;
    color: white;
    text-decoration: none;
}

/* Navigation Bar For Home Page (below) */
.header{
    text-align: right;
    font-size: 100%;
    padding: 20px;
    background-color: #28282B;
}
.content{
    position: absolute;
    top: 50%;
    left: 15%;
    transform:translateY(-50%)
}

/* Contact Form (below) */
.content-contact{
    position: absolute;
    top: 50%;
    left: 10%;
    transform:translateY(-50%)
}

.content-about{
    position: absolute;
    left: 0;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2%;
    box-shadow: 0 0 15px 0 black;
}

.a-normal{
    text-decoration: none;
    color: black;
    padding: 0;
}

/* Resume (below) */
.download{
    color:white;
    background-color:#28282B;
    position: absolute;
    padding: 20px;
}

/* Portfolio (below) */
.portfolio-table{
    width: 100vw;
    border-collapse: collapse;
}
.portfolio-title{
    background-color: #28282B;
    color:white;
    position: relative;
    left: 0%;
    text-align: left;
    padding-left: 15px;
}

.clock {
    position: absolute;
    bottom: 5%;
    right: 50%;
    transform: translateX(50%);
    padding-left: 10px;
    box-shadow: 0 0 10px 0 black;
    color: white;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 7px;
}

/* About (below) */
.about-img{
    position: relative;
    float: left;
    margin: 10px;
    width: 50px;
    box-shadow: 0 0 10px 0px black;
    border: 0.5px solid black;
}

.about-div{
    position: relative;
    transform: translate(45%, 15%);
    padding: 25px;
    width: 50%;
    box-shadow: 0 0 10px 0 black;
}

.about-text{
    font-size: 60%;
}
.skills-img{
    width: 50%;
    transform: translateY(25%);
    box-shadow: 0 0 15px 0;
    opacity: 1;
    animation-name: fade;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

/* Sandbox (below) */
.h2-position{
    position:relative;
    padding: 20px;
    background-color:white;
    color:white;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    animation-name: h2;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.table-content-position{
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 800px; 
}

.body-sandbox{
    border: 1px solid #545454;
    border-radius: 10px;
    box-shadow: 0 0 10px 0;
}

.bottom-position{
    padding: 20px;
    background-color:#28282B;
    color:white;
    box-shadow: 0 0 10px 0 #28282B;
}

.current-nav{
    background-color: #545454 ;
}

/*-------------------------------*/