.portfolio-w {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;

    &::before {
        content: "";
        position: relative;
        top: 0;
        height: 100px;
        width: 100%;
    }

    h2 {
        margin: .5em
    }

    .repo-card {
        margin: .5em;
        cursor: pointer;
        color: white;
        background-color: var(--light);
        padding: 1em;
        box-shadow: 0 0 5px #29292e;

        &:hover {
            background-color: var(--dark);
        }
    }
}