@import "@/styles/mixins.scss";

.portfolio-w {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;

    h1 {
        @include sm-down {
            font-size: 30px;
        }
    }

    .repo-card {
        cursor: pointer;
        margin: .5em;
        padding: 1em;
        color: white;
        background-color: var(--light);
        box-shadow: 0 0 5px #29292e;

        &:hover {
            background-color: var(--dark);
        }
    }

    @include sm-down {
        margin-top: 0px;
        margin: 10px;
    }
}