@import "@/styles/mixins.scss";

.portfolio-w {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;

    h1 {
        @include sm-down {
            font-size: 30px;
        }
    }

    .repo-card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
        margin: .5em 2em;
        padding: 1em;
        color: white;
        background-color: var(--quinary);
        box-shadow: 0 0 5px #29292e;
        transition: all .15s ease-in-out;

        &:hover {
            background-color: var(--septenary);
        }

        .btn-w {
            display: flex;
            justify-content: space-between;

            button {
                cursor: pointer;
                padding: 1em 2em;
                appearance: none;
                border: none;
                color: white;
                z-index: 2;
                background-color: var(--secondary);
                transition: all 0.15s ease-in-out;

                &:hover {
                    background-color: var(--primary);
                }
            }
        }
    }

    @include sm-down {
        margin-top: 0px;
        margin: 10px;
    }
}